*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.marquee{
    font-size: 30px;
    padding-bottom: 10px;
    background-color: red;
    color: white;
}



/* Nav-2 */
.nav2-img{
  width: 100px;
  height: 75px;
  
}
header{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.nav-bar-2,ul,li{
  font-size: 20px;
  color: white;
}
ul li{
  margin-left: 50px;
}

.nav-bar-2{
  background-color: red;
}
/* Main Nav */

      .nav-imbd{
        width: 70px;
        text-align: center;
        font-family: bold;
        background-color: gold;
        border-radius: 10px;
      }

      .main-info{
        background-color: black;
        padding-top: -5px;
      }
  
      /* popular movies */
    .card:hover {
transform: scale(0.9);
transition: all 1s ease;
box-shadow: 0px 0px 5px 5px silver;
border-radius: 20px;
}
.card-body{
  background-color:red;
}

.popular-icons{
  font-size: 30px;
  color:white;
}

/* Break point */

@media(max-width:991px){
header{
  margin-top: 55px;
}
}

@media(max-width:768px){
  header{
    margin-top: 55px;
  }
  .nav2-img{
    width: 50px;
  }
  .nav-item {
    font-size: 17px;
  }

}

@media(max-width:600px){

.nav2-img{
  width: 50px;
  
}
ul li{
  margin-left: 30px;
}
.nav-item {
  font-size: 12px;
}
} 

@media(max-width:420px){
header{
  margin-top: 40px;
}
  .nav2-img{
    width: 40px;
    
  }
  .nav-item {
    font-size: 12px;
  }
  }
 
  
    
  
 @media (max-width:320px){
  header{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
  .nav-item{
    margin-top: 20px;
    font-size: 7px;
  }
  }

  